<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>

<p>
  <b>Address:</b>
  <%= @place.address %>
</p>

<p>
  <b>City:</b>
  <%= @place.city %>
</p>

<p>
  <b>Zip:</b>
  <%= @place.zip %>
</p>

<p>
  <b>Country:</b>
  <%= @place.country %>
</p>

<p>
  <b>Comments:</b>
  <%= @place.comments %>
</p>

<%= image_tag(@place.picture_url, :width => 250) if @place.picture.present? %>

<%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-warning'%>
<%= link_to 'Back', places_path, class: 'btn btn-primary' %>
